* { 
    margin: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #808080;
}

h1 {
    margin: 10px;
}

form { 
    width: 500px;
    margin: 10px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 79%;
    height: 50px;
    border: 2px solid black;
    padding-left: 10px;
}

form button { 
    width: 20%;
    height: 50px;
    border: none;
    background-color: #cd8a2c;
    color: #ffffff;
}

form button:hover {
    cursor: pointer;
}

section {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-size: 18px;
    margin: 25px 10px 25px 10px;
}

div {
    padding: 15px;
    width: 425px;
    min-height: 300px;
    margin-top: 25px;
    margin-left: 10px;
}

.new {
    background-color: #e09b39;
}

.inProgress {
    background-color: #c07f24;
}

.completed {
    background-color: #8f580b;
}

div * { 
    color: white;
}

div ul {
    padding: 0px
}

div ul li {
    list-style-type: none;
    padding: 10px 5px;
    margin: 10px;
    background-color: rgba(255, 192, 103, 0.6);
    border-bottom: 2px solid white;
}

input[type="checkbox"] {
    margin-right: 5px;
}