/* Styling Resets */
* { 
    margin: 0px;
    box-sizing: border-box;
    color: #808080;
    font-family: "ltc-remington-typewriter-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Utility Class */
body {
    background-image: url(../images/background.jpeg);
    background-size: cover;
}

h1 {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 48px;
    font-family: "ltc-remington-typewriter-pro", sans-serif;
    font-weight: 400;
    font-style: italic;
}

h2 {
    font-size: 18px;
    margin: 25px 10px 25px 10px;
    text-align: center;
    letter-spacing: 1px;
}

div.tasksContainer {
    display: flex;
    flex-wrap: wrap;
}

/* Styling for layout */
.container {
    width: fit-content;
    margin: 0 auto;
}

/* Styling for the add task form */
form { 
    margin: 10px;
    margin-top: 50px;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #808080;
}

form input {
    width: 500px;
    height: 50px;
    border: 2px solid #808080;
    padding-left: 10px;
    color: #808080;
}

form button { 
    width: 125px;
    height: 50px;
    border: none;
    background-color: #cd8a2c;
    color: #ffffff;
}

form button:hover {
    cursor: pointer;
}

/* Styling for List Containers */
section {
    padding: 15px;
    width: 425px;
    min-height: 300px;
    margin-top: 25px;
    margin-left: 10px;
}

.new {
    background-color: #e09b39;
}

.inProgress {
    background-color: #c07f24;
}

.completed {
    background-color: #8f580b;
}

/* Styling for List Items */
section * { 
    color: white;
}

section ul {
    padding: 0px
}

section ul li {
    position: relative;
    list-style-type: none;
    padding: 5px 5px;
    margin: 10px;
    background-color: rgba(255, 192, 103, 0.6);
    border-bottom: 2px solid white;
    letter-spacing: 1px;
    font-size: 14px;
}

section.completed ul li {
    padding-right: 32px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* styling for the delete buttons */
.delete-button {
    position: absolute;
    right: 5px;
    border: none;
    background: none;
}

.delete-button:hover {
    cursor: pointer;
}

.delete-button i { 
    font-size: 18px;
}

/* Styling for Completed Tasks */
#itemsCompletedContainer span {
    text-decoration: line-through;
    text-decoration-color: #8f580b;
}

/* Styling for the 'special' selectors */
#itemsCompletedContainer li::before {
    content: '\2705\FE0E';
    margin-right: 5px;
    color: white;
}

#listContainer li:nth-child(even) {
    background-color: #c07f24;
}

#listContainer li:nth-child(odd) {
    background-color: #8f580b;
}

#inProgressContainer li:nth-child(even) {
    background-color: #8f580b;
}

#inProgressContainer li:nth-child(odd) {
    background-color: #e09b39;
}

#itemsCompletedContainer li:nth-child(even) {
    background-color: #e09b39;
}

#itemsCompletedContainer li:nth-child(odd) {
    background-color: #c07f24;
}
