/* Styling Resets */
* { 
    margin: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #808080;
}

/* Utility Class */
body {
    background-image: url(../images/background.jpeg);
    background-size: cover;
}

h1 {
    background-color: white;
    padding: 10px;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin: 25px 10px 25px 10px;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
}

/* Styling for layout */
.container {
    width: fit-content;
    margin: 0 auto;
}

/* Styling for the add task form */
form { 
    width: 500px;
    margin: 10px;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #808080;
}

form input {
    width: 79%;
    height: 50px;
    border: 2px solid #808080;
    padding-left: 10px;
    color: #808080;
}

form button { 
    width: 20%;
    height: 50px;
    border: none;
    background-color: #cd8a2c;
    color: #ffffff;
}

form button:hover {
    cursor: pointer;
}

/* Styling for List Containers */
div {
    padding: 15px;
    width: 425px;
    min-height: 300px;
    margin-top: 25px;
    margin-left: 10px;
}

.new {
    background-color: #e09b39;
}

.inProgress {
    background-color: #c07f24;
}

.completed {
    background-color: #8f580b;
}

/* Styling for List Items */
div * { 
    color: white;
}

div ul {
    padding: 0px
}

div ul li {
    list-style-type: none;
    padding: 10px 5px;
    margin: 10px;
    background-color: rgba(255, 192, 103, 0.6);
    border-bottom: 2px solid white;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* styling for the delete buttons */
.delete-button {
    float: right;
    border: none;
    background: none;
}

.delete-button:hover {
    cursor: pointer;
}

.delete-button i { 
    font-size: 18px;
}

/* Styling for Completed Tasks */
#itemsCompletedContainer span {
    text-decoration: line-through;
    text-decoration-color: orangered;
}

/* Styling for the psuedo selectors */
#itemsCompletedContainer li::before {
    content: '\2705\FE0E';
    margin-right: 5px;
    color: white;
}

