* { 
    margin: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    margin: 10px;
}

form { 
    margin: 10px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 400px;
    height: 50px;
    border: 2px solid black;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

form button { 
    width: 75px;
    height: 50px;
    border: none;
    background-color: cadetblue;
    color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

form button:hover {
    cursor: pointer;
}

h2 {
    margin: 50px 10px 25px 10px;
}

div {
    padding: 15px;
    width: 500px;
    margin-left: 10px;
    background-color: #cd8a2c;
}

div ul {
    padding: 0px
}

div ul li {
    list-style-type: none;
    padding: 10px 5px;
    margin: 10px;
    background-color: rgba(255, 192, 103, 0.6);
    border-bottom: 2px solid black;
}

input[type="checkbox"] {
    margin-right: 5px;
}